{%extends 'main/sidebar.html'%}
{%load static%}

{%block css%} 
<link rel="stylesheet" href="{%static 'css/sidebar.css'%}">
{%endblock%}


{%block main%}
 <section id="main-content">
    <p class="podnaslov mb-1">Prvi razred</p>
    <div class="content mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et interdum leo. Mauris ornare blandit nisi. Vivamus molestie ligula vel cursus dictum. Fusce finibus quam odio, in tempor velit ornare sit amet. Vivamus efficitur sapien augue, in tempor sapien venenatis a. Cras vitae dictum justo, sed faucibus erat. Etiam bibendum mattis lobortis. Donec pretium velit nec orci condimentum accumsan. Nulla magna mauris, ultrices vel sapien in, eleifend blandit urna. Cras dignissim, lorem eget sollicitudin sollicitudin, nibh orci ornare felis, vel sodales quam orci a magna. Donec at est blandit, lacinia ante eu, egestas neque. Curabitur at magna nec tellus varius pellentesque. Fusce commodo pellentesque imperdiet. 
    </div>
    <p class="podnaslov mb-1">Prvi razred</p>
    <div class="content mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et interdum leo. Mauris ornare <span id="blandit" class="bitan-pojam">blandit</span> blandit nisi. Vivamus molestie ligula vel cursus dictum. Fusce finibus quam odio, in tempor velit ornare sit amet. Vivamus efficitur sapien augue, in tempor sapien venenatis a. Cras vitae dictum justo, sed faucibus erat. Etiam bibendum mattis lobortis. Donec pretium velit nec orci condimentum accumsan. Nulla magna mauris, ultrices vel sapien in, eleifend blandit urna. Cras dignissim, lorem eget sollicitudin sollicitudin, nibh orci ornare felis, vel sodales quam orci a magna. Donec at est blandit, lacinia ante eu, egestas neque. Curabitur at magna nec tellus varius pellentesque. Fusce commodo pellentesque imperdiet. 
    </div>
    <p class="podnaslov mb-1">Prvi razred</p>
    <div class="content mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et interdum leo. Mauris ornare blandit nisi. Vivamus molestie ligula vel cursus dictum. Fusce finibus quam odio, in tempor velit ornare sit amet. Vivamus efficitur sapien augue, in tempor sapien venenatis a. Cras vitae dictum justo, sed faucibus erat. Etiam bibendum mattis lobortis. Donec pretium velit nec orci condimentum accumsan. Nulla magna mauris, ultrices vel sapien in, eleifend blandit urna. Cras dignissim, lorem eget sollicitudin sollicitudin, nibh orci ornare felis, vel sodales quam orci a magna. Donec at est blandit, lacinia ante eu, egestas neque. Curabitur at magna nec tellus varius pellentesque. Fusce commodo pellentesque imperdiet. 
    </div>
    <p class="podnaslov mb-1">Prvi razred</p>
    <div class="content mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus et interdum leo. Mauris ornare blandit nisi. Vivamus molestie ligula vel cursus dictum. Fusce finibus quam odio, in tempor velit ornare sit amet. Vivamus efficitur sapien augue, in tempor sapien venenatis a. Cras vitae dictum justo, sed faucibus erat. Etiam bibendum mattis lobortis. Donec pretium velit nec orci condimentum accumsan. Nulla magna mauris, ultrices vel sapien in, eleifend blandit urna. Cras dignissim, lorem eget sollicitudin sollicitudin, nibh orci ornare felis, vel sodales quam orci a magna. Donec at est blandit, lacinia ante eu, egestas neque. Curabitur at magna nec tellus varius pellentesque. Fusce commodo pellentesque imperdiet. 
    </div>
</section>
{%endblock%}

{%block js2%}

{%endblock%}